{% extends 'taskapp/base.html'%}
{% block title %} Add Emp{% endblock %}
{% block content %}
<br><br>
<div class="form-groups">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
         <button class="btn btn-secondary">Post</button>
        <a href="{% url 'home' %}" class="btn btn-primary">back</a>
    </form>
</div>
<!--<script>-->
<!-- var name = "{{user.id}}";-->
<!-- document.getElementById("uservalue").placeholder= name-->
<!--</script>-->
{% endblock %}