<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h3>Employee With Manager </h3>

<table>

  <tr>
        <th>EID</th>
        <th>DESIGNATION</th>
        <th>ENAME</th>
        <th>MANAGER</th>
  </tr>
  <tr>
      {% for emp in data %}
      <td>{{emp.id}}</td>
        <td>{{emp.designation}}</td>
        <td>{{emp.ename}}</td>
      <td>{% if emp.manager %}{{ emp.manager.ename }}{% endif %}</td>
  </tr>
    {% endfor %}
</table><br></br>
<a href="{% url 'home' %}" class="btn btn-primary">Back</a>
</body>
</html>